
    <div class="card" style="padding:1rem; max-width:300px;">
        <h3 class="text-uppercase"><%= article.title %></h3>
        <h4 class="text-primary">Status: <%= article.status%></h4>
        <p class="text-secondary">id: <%= article.id %></p>
        <%=link_to "Ver más", article%>
    </div>
    


